body {
  margin: 0px;
  padding: 0px;
  background-color: #eee;
  color: #222;
  font-style: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
